<div class="row">
  <div class="col-12">
    <h1>Publicaciones de {{ getAuthorName() }}</h1>
  </div>
  <div class="col-12">
    <table class="table table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Key</th>
          <th>Fecha</th>
          <th>Autor</th>
          <th>Título</th>
          <th>Contenido</th>
          <th>Img</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of getPosts()">
          <td>{{ post.key }}</td>
          <td>{{ post.creationDate | date: 'medium' }}</td>
          <!-- <td>{{ post.author }}</td> -->
          <td>
            <a routerLink="/author/{{ post.author }}">{{ post.author }}</a>
          </td>
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
          <td><img [src]="post.img" style="width:100px;" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
